.popup__title-block {
    width: 272px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto 80px;
}

@media screen and (min-width: 1024px) {
    .popup__title-block {
        margin-bottom: 40px;
    }
}