.page {
    min-width: 320px;
    display: grid;
    row-gap: 24px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
}

@media screen and (min-width: 1024px) {
    .page {
        row-gap: 56px;
    }
}