.lead__text-img {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #E5E5E5;
    margin: auto;
}

@media screen and (min-width: 1024px) {
    .lead__text-img {
        font-size: 18px;
        line-height: 21px;
    }
}