.card__texts {
    border: 4px solid #667080;
    width: 182px;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .card__texts {
        width: 336px;
        min-height: 160px;
    }
}