.form__label {
    width: 98%;
    min-height: 32px;
    border: 2px solid #667080;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .form__label {
        width: 100%;
    }
}