.form__button-close-password {
    width: 16px;
    padding: 0;
    margin: 8px 8px 8px 0;
    border: none;
    background-color: white;
    background-image: url(../../../image/скрыть\ пароль.svg);
}